<h1>Files</h1>
{% if files_list %}
<table>
<thead><td>ID</td><td>Title</td><td>Description</td><td>To Delete</td><td>To Share</td></thead>
    {% for file in files_list %}
    <tbody>
    <tr>
    <td>{{ file.pk }} </td>
    <td> {{ file.title }} </td>
    <td> {{ file.description }} </td>
    <td><a href="{% url 'databucket:delete' file.pk %}" >Delete</a></td>
    <td><a href="{% url 'databucket:file_share' file.pk %}" >Share</a></td>
    </tr>
</tbody>
    {% endfor %}
</table>
{% else %}
<h2> There are no files</h2>
{% endif %}
<br>
Go back to<a href="{% url 'databucket:menu' %}">Menu</a>